.company{
    margin-top: 220px;
}
.left{
    padding:10px;
    background-color: rgba(102, 143, 197, 0.363);
    box-shadow: 10px 10px 5px grey;
    width: 45%;
}

.company-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.right{
    width: 55%;
    background-color: rgba(102, 104, 107, 0.432);
    display:flex;
    flex-direction: row;
    border:2px solid white;
    box-shadow: 10px 10px 5px grey;
}

.one{
    padding: 10px;
    clear: both;
    background-color: bisque;
    width: 50%;
    border-right: 2px solid white;
}
.two{
    padding: 10px;
    clear: both;
    background-color: bisque;
    width: 50%;
}
.containerTeam{
    height: 400px;
    width: 100%;
    clear:both;
    background-color: aliceblue;
    height: 800px;
    padding: 10px;

}
.team{
    
    background-color:aliceblue;
    
    float:left;
    width:50%;
    min-height: 760px;
    height: 800px;
    
}
.teampic{
    
    float:left;
    height:800px;
    width: 48%;
    background-color: aliceblue;
    
}

.space{
    height:50px;
    width: 100%;
    clear: both;
    
}

.teams{
   
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top:20%;
   width: 60%;
   max-height: 500px;
}
  

