.contact{
    margin-top: 200px;
    padding:10px;
    text-align: center;
    height: auto;
    background-color: rgb(194, 196, 197);
}
.list{
    margin:auto;
    margin-top:30px;
    width: 600px;
    min-height: 900px;
    border:5px solid white;

}

.subt{
   display: block;
   
}
iframe{
    margin-top:5%;
}


.spacing{
    height: 250px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.514);
    


    }



 .flex-container{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }

    .d1{
        
        border-right: 2px solid black;
        width:25%;
        
    }

    .d2{
      
        
        width:50%;
        text-align: left;
        
    }

    .d3{
        width:25%;
        border-left: 2px solid black;
        
        

    }